$libraryRed: #E43534;
$libraryBlue: #0095c8;

/* MAIN NAVIGATION MENU COLORS
 * ---------------------------
 * - In accordance with style-guide
 * - Uses HEX values
*/
$BG_MENU_BROWSE_LEFT: #ED1C24;
$BG_MENU_BROWSE_RIGHT: #E73621;

$LIBRARY_RED: #ED1C24;
$UI_BLUE: #2799C5;
$COOL_GRAY_LIGHT: #A3A19E;
$COOL_GRAY_REGULAR: #837E77;
