.all-users-list {
  display: block;
  margin: 0 auto;
  max-width: 1353px;
  padding: 24px 0 0 0;
  position: relative;

  @include desktop {
    display: block;
    margin: 0 auto;
    min-width: 1014px;
    padding: 24px 20px 60px 21px;
  }

  &__userlink-wrapper {
    cursor: pointer;
    font-family: Milo-Light;
    font-size: 36px;
    padding: 0 0 42px 149px;
  }
}