.bookItemList {
  display: block;
  max-width: 1312px;
  padding: 20px 20px 0 20px;
  @desktop {
    display: inline-block;
    margin: 20px 20px 0 20px;
    width: 100%;
  }
  &__name {
    border-color: $LIBRARY_RED;
    border-top-style: solid;
    border-width: 1px;
    padding: 10px 0 0 0;
    &__button {
      color: $LIBRARY_RED;
      cursor: pointer;
      display: none;
      text-decoration: none;
      text-transform: capitalize;
      @desktop {
        display: block;
      }
    }
  }
  &__back-button-wrapper {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 20px 20px 0 20px;;
    text-align: left;
    @desktop {
      display: inline-block;
      float: left;
      margin: 20px 40px 0 5px;
      padding: 0 0 0 40px;
      text-align: right;
    }
    &__button {
      border-color: $COOL_GRAY_LIGHT;
      border-top-style: none;
      color: $COOL_GRAY_LIGHT;
      font-family: Kievit-Medium;
      font-size: 13px;
      letter-spacing: 0.04em;
      line-height: 16.21px;
      text-decoration: none;
      text-transform: uppercase;
      @desktop {
        border-color: $COOL_GRAY_LIGHT;
        border-top-style: solid;
        border-width: 1px;
        float: right;
        text-transform: capitalize;
      }
      &__icon {
        display: inline-block;
        font-size: 30px;
        margin: 0 4px 0 0;
        vertical-align: -8px;
      }
      p {
        display: inline-block;
        margin: 0 0 0 4px;
        @desktop {
          display: block;
        }
      }
    }
  }
  &__item {
    margin: 20px 0 60px 0;
    &__title-wrapper {
      display: block;
      font-family: Kievit-Medium;
      letter-spacing: 0.01em;
      width: 100%;
      margin: 0 0 14px 0;
      @desktop {
        display: inline-block;
        vertical-align: top;
        width: 60%;
      }
      &__catalog {
        font-size: 16px;
        line-height: 20px;
        margin: 4px 0 4px 0;
        text-transform: uppercase;
      }
      &__name {
        color: #000000;
        font-family: Milo-Light;
        font-size: 36px;
        letter-spacing: 0;
        margin: 4px 0 4px 0;
        text-decoration: none;
        text-transform: capitalize;
      }
      &__author {
        font-size: 16px;
        line-height: 20px;
        margin: 4px 0 4px 0;
      }
    }
    &__detail-wrapper {
      width: 100%;
      margin: 0 0 26px 0;
      &__image-wrapper {
        display: inline-block;
        margin: 0 16px 0 0;
        @desktop {
          display: inline-block;
          width: 28%;
        }
        &__cover-image {
          backgroundRepeat: no-repeat;
          display: inline-block;
          height: auto;
          width: 100px;
          @desktop {
            width: 200px;
          }
        }
      }
      &__description {
        @include calculation(width, '100% - 116px');
        display: inline-block;
        font-family: Milo-Light;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        vertical-align: top;
        @desktop {
          margin: 40px 0 0 0;
        }
      }
    }
    &__checkout {
      display: block;
      text-align: center;
      @desktop {
        display: inline-block;
        float: right;
        text-align: left;
        vertical-align: top;
      }
      &__button {
        border-style: solid;
        border-width: 2px;
        border-radius: 33px;
        color: $UI_BLUE;
        font-family: Kievit-Medium;
        font-size: 13px;
        letter-spacing: 0.04em;
        line-height: 16.21px;
        padding: 12px 20px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}