.bookItemList {
  display: inline-block;
  margin: 20px auto 0 auto;
  max-width: 1312px;
  width: 100%;
  &__name {
    border-color: $LIBRARY_RED;
    border-top-style: solid;
    border-width: 1px;
    padding: 10px 0 0 0;
    &__button {
      color: $LIBRARY_RED;
      cursor: pointer;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
  &__back-button-wrapper {
    cursor: pointer;
    display: inline-block;
    float: left;
    margin: 20px 40px 0 5px;
    padding: 0 0 0 40px;
    text-align: right;
    &__button {
      border-color: $COOL_GRAY_LIGHT;
      border-top-style: solid;
      border-width: 1px;
      color: #A3A19E;
      float: right;
      font-size: 14px;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
  &__item {
    margin: 20px 0;
    &__image-wrapper {
      display: inline-block;
      width: 28%;
    }
    &__text-wrapper {
      display: inline-block;
      vertical-align: top;
      width: 60%;
      &__name {
        color: #000000;
        font-size: 20px;
        text-decoration: none;
        text-transform: capitalize;
      }
      &__author {
        text-transform: capitalize;
      }
      &__description {
        margin: 40px 0 0 0;
      }
    }
    &__checkout {
      display: inline-block;
      float: right;
      vertical-align: top;
    }
  }
}