.all-user-list-error {
  padding: 0 0 60px 20px;

  @include desktop {
    padding: 0 0 45px 149px;
  }

}

.user-lists-error {
  padding: 0 0 60px 0;

  @include desktop {
    padding: 45px 0 45px 149px;
  }

}

.book-item-list-error {
  padding: 0 0 60px 20px;

  @include desktop {
    padding: 0 0 45px 149px;
  }

  &.no-data {
    padding: 0 0 60px 0;

    @include desktop {
      padding: 0 0 45px 0;
    }

  }

}

.widget-error {
  padding: 0 0 60px 0;

  @include desktop {
    padding: 58px 0 16px 29px;
  }

  &.no-data {

    @include desktop {
      padding: 0 0 0 29px;
    }

  }

}
