.hero {
  background-color: $LIBRARY_RED;
  color: white;
  height: auto;
  margin: 50px 0 0 0;
  min-height: 72px;
  padding: 0;
  width: 100%;
  &__container {
    height: auto;
    margin: 0 auto;
    max-width: 1312px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    @include breakpoint($min, 720px) { 
      margin: 0 auto;
    }
    &__text-container {
      float: left;
      position: relative;
      @include breakpoint($min, $post-palm) {
        margin: 10px 40px 40px 70px;  
        width: 40%;
      }
      @include breakpoint($min, 720px) {
        margin: 70px 40px 40px 70px;
      }
      @include breakpoint($min, $post-laptop) {
        margin: 120px 40px 56px 60px;  
        width: 45%;
      }
      &__title {
        box-sizing: border-box;
        color: white;
        font-family: Kievit-Medium;
        letter-spacing: 0.01em;
        position: relative;
        width: 100%;
        h3 {
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0.01em;
          margin: 0 0 10px 0;
          text-transform: uppercase;
          @include breakpoint($min, $post-palm) {
            margin: 40px 0 10px 0;
          }
          @include breakpoint($min, 720px) {
            margin: 0 0 20px 0;
          }
          @include breakpoint($min, $post-laptop) {
            margin: 0 0 20px 0;
          }
        }
        &__des {
          display: block;
          font-family: Milo-Light;
          font-size: 20px;
          letter-spacing: 0;
          line-height: 20px;
          margin: 0;
            text-align: left;
          @include breakpoint($min, 720px) {
            display: block;
            font-size: 20px; 
            line-height: 24px;
            margin: 0 0 20px 0;
          } 
          @include breakpoint($min, $post-laptop) {
            display: block;
            font-size: 28px; 
            line-height: 28px;
            margin: 0 0 10px 0;
          }
        }
      }
      &__title__intro {
        display: none;
        font-family: 'KievitWeb-Book', sans-serif;
        font-size: 12px;
        line-height: 14px;
        text-align: left;
        @include breakpoint($min, 720px) {
          display: block;
          font-size: 12px;
          line-height: 14px;
        }
         @include breakpoint($min, $post-laptop) {
          display: block;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &__image-container {
      /* background-image: url('/recommendations/staff-picks/client/images/shelftalker.4.2.png'); */
      background-position: -10px 20px;
      background-size: 104%;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: none;
      margin: -68px 0 -6px 0;
      overflow: hidden;
      position: relative;
      @include breakpoint($min, 720px) {
        display: inline-block;
        height: auto;
        margin: -45px 0 -10px 0;
        width: 300px;
      }
      @include breakpoint($min, $post-laptop) {
        display: inline-block;
        height: auto;
        margin: -60px 0 -10px 0;
        width: 380px;
      }
    }
  }
}