.place-holder {
  background-image: url('/images/book-place-holder.png');

  background-clip: content-box;
  background-position: -2px center;
  background-repeat: no-repeat;
  background-size: 101%;
  height: 134px;
  width: 100px;
}