@import '_pageButton';

.userlists {
  @import '_item';
  display: block;
  margin: 0;
  max-width: 1312px;
  padding: 24px 20px 0 20px;
  position: relative;

  @include desktop {
    margin: 24px auto 0 auto;
    padding: 0;
    width: 100%;
  }
}
