.userlists {
  margin: 20px auto 0 auto;
  max-width: 1312px;

  @import '_item';

  &_page-button-wrapper {
    text-align: center;
    &_button {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: transparent;
      border-color: $COOL_GRAY_LIGHT;
      border-style: solid;
      border-width: 2px;
      border-radius: 45%;
      color: $COOL_GRAY_LIGHT;
      font-size: 16px;
      overflow: hidden;
      padding: 10px 23px ;
    }
  }
}