#widget-container {
  height: 410px;
  overflow-y: hidden;

  .bookListWidget {
    height: 406px;
    min-width: 10000px;

    li {
      display: inline;
      list-style-type: none;
      float: left;
      max-height: 406px;
      margin-right: 30px;
    }

    &-listTitle {
      margin: 10px;
    }
  }
}