@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/globals';
@import 'utils/colors';
@import 'utils/headerViewports';
@import 'utils/viewports';
@import 'utils/mixins';
@import 'utils/animations';
@import 'utils/transitions';
@import 'utils/animation';

@import 'components/hero';
@import 'components/_allUsersList';
@import 'components/_userLists';
@import 'components/_bookItemList';
@import 'components/_widget';
@import 'components/_errorMessage';

@import '~@nypl/dgx-header-component/dist/styles/main';
@import '~@nypl/dgx-react-footer/dist/styles/styles';

body {
  @include Kievit-Regular;
}

// Override:
.FindUsWidget-FindUsFeature-Link {
  span[class*="icon-"] {
    display: inline-block;
  }
}

.EmailSubscription-Wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}
